* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  background-image: url("./images/bg-pattern-top-desktop.svg");
  background-size: cover;
  font-family: spartan, sans-serif;
}

main {
  width: 100%;
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50vh 50vh;
      grid-template-rows: 50vh 50vh;
}

.topContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1440px;
  margin-top: 10px;
}

.bottomContainer {
  width: 100%;
  max-width: 1440px;
}

.loveContainer {
  margin-left: 20px;
}

.loveContainer p {
  color: #502050;
  font-weight: 700;
  font-family: spartan;
  font-size: 3em;
  text-align: left;
  width: 55%;
}

.loveContainer p ~ p {
  color: #937b92;
  font-weight: 500;
  font-family: spartan;
  font-size: 1.5em;
  width: 100%;
}

.starsContainer {
  position: relative;
  left: 1em;
}

.starsContainer .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: #502050;
  font-weight: 700;
  background-color: #f7f2f7;
  width: 80%;
}

.starsContainer .card p {
  margin-left: 30px;
}

.starsContainer .card + .card {
  position: relative;
  left: 40px;
}

.starsContainer .card + .card + .card {
  position: relative;
  left: 80px;
}

.starsContainer img {
  margin-right: 10px;
}

.reviewContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 32.3%))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 32.3%));
  width: 100%;
  max-width: 1440px;
}

.reviewCard {
  border-radius: 2%;
  margin: 1em;
  padding: 2em;
  background-color: #502050;
  color: white;
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviewCard .client {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  margin: 2em 3em;
  position: relative;
  right: 2em;
}

.reviewCard .client img {
  width: 70%;
  border-radius: 50%;
}

.reviewCard .client p {
  display: -ms-grid;
  display: grid;
}

.reviewCard .clientText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviewCard .clientText p {
  font-weight: 700;
  width: 100%;
}

.reviewCard .clientText p + p {
  margin-top: 5px;
  font-weight: initial;
  color: #937b92;
}

.reviewCard .reviewText {
  font-weight: 500;
  width: 90%;
}

.reviewCard + .reviewCard {
  position: relative;
  top: 2em;
}

.reviewCard + .reviewCard + .reviewCard {
  position: relative;
  top: 4em;
}

@media (max-width: 376px) {
  body {
    background-size: contain;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 375px;
    font-size: 0.7em;
  }
  .topContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .loveContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .loveContainer p {
    width: 90%;
    text-align: center;
  }
  .loveContainer p ~ p {
    width: 95%;
  }
  .starsContainer {
    width: 95%;
  }
  .starsContainer .card {
    margin: initial;
    width: 100%;
    position: relative;
    left: initial;
    right: 10px;
    margin: 2em 0;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .starsContainer .card p {
    margin-left: initial;
    margin-top: 1em;
  }
  .starsContainer .card + .card {
    position: relative;
    left: initial;
  }
  .starsContainer .card + .card + .card {
    position: relative;
    left: initial;
  }
  .reviewContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    max-width: 1440px;
  }
}
/*# sourceMappingURL=styles.css.map */